@import url(./utility.css);

header {
    background-color: var(--app-black);  
    border-bottom: solid 2px var(--app-gray);  
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 70px;
}

.header-content h1{
    font-family: "Poetsen One", sans-serif;
    color: var(--app-purple);
}

nav {
    justify-items: center;
}

nav ul {
    display: flex;
    gap: 60px;
}

nav a {
    color: var(--app-fade-purple);
    font-size: 25px;
}

.user-profile-header {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
    color: var(--app-white);
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--app-white);
    overflow: hidden;
}

.profile img {
    width: 100%;
}

.current-page-nav {
    color: var(--app-purple);
}