* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    color: var(--app-white);
}

a, li {
    text-decoration: none;
    display: inline;
}

input, textarea {
    border: none;
    resize: none;
    font-family: "Poppins", sans-serif;
    outline: none;
}

button {
    border: none;
}

a, button {
    cursor: pointer;
}