:root {
    --app-black: #1c1d20;
    --app-white: #fff;
    --app-purple: #bb00bb;
}

.container {
    width: min(100% - 20px, 1100px);
    margin-inline: auto;
}

.break {
    display: block;
}

.p-size {
    font-size: 16px;
}

.h1-size {
    font-size: 32px;
    font-weight: 400;
}