:root {
    --app-black: #0b0b0b;
    --app-white: #fff;
    --app-purple: #bb00bb;
    --app-fade-purple: #6d006d;
    --app-gray: #1e1e1e;
    --app-light-gray: #141414;
    --app-black-transparent:  rgba(0, 0, 0, 0.692);
}

.container {
    width: min(100% - 20px, 1250px);
    margin-inline: auto;
}

.break {
    display: block;
}

.p-size {
    font-size: 16px;
}

.h1-size {
    font-size: 32px;
    font-weight: 400;
}

.h2-size {
    font-size: 25px;
    font-weight: 500;
}
.pad-15 {
    padding-top: 15px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    border: solid 1px var(--app-gray);
    margin: 10px 0;
}

.padding-around {
    padding: 12px 14px;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-5 {
    border-radius: 5px;
}

.border-10 {
    border-radius: 10px;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--app-black);
}

.gap-10 {
    gap: 10px;
}