:root {
    --app-black: #0b0b0b;
    --app-white: #fff;
    --app-purple: #bb00bb;
    --app-fade-purple: #6d006d;
    --app-gray: #1e1e1e;
}

.container {
    width: min(100% - 20px, 1250px);
    margin-inline: auto;
}

.break {
    display: block;
}

.p-size {
    font-size: 16px;
}

.h1-size {
    font-size: 32px;
    font-weight: 400;
}

.h2-size {
    font-size: 25px;
    font-weight: 500;
}
.pad-15 {
    padding-top: 15px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.line {
    height: 1px;
    border: solid 1px var(--app-gray);
    margin: 10px 0;
}