@import url(./data/reset.css);
@import url(./data/layout.css);
@import url(./data/utility.css);

nav a{
    color: #6d006d;
}

.chat-nav-button i {
    color: var(--app-purple);
}

/*Friends nav tab*/
.new-chat {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 19px;
}

.chat-nav-tab {
    width: 360px;
    border-right: 2px solid var(--app-gray);
    height: calc(100vh - 72px);

}

.chat-room-buttons button {
    background-color: var(--app-no-color);
    color: var(--app-white);
    gap: 5px;
}

.chat-room {
    gap: 5px;
    position: relative;
}

.delete-chat-room {
    position: absolute;
    right: 0;
    top: 25%;
}

/*New chat room*/
.friend-list-header {
    position: relative;
    width: 475px;
}

.close-create-form {
    position: absolute;
    top: 25%;
    right: 0;
    background-color: var(--app-no-color);
    color: var(--app-white);
    font-size: 18px;
}

.chat-room-name-form .profile {
    height: 50px;
    min-width: 50px;
    border-radius: 25px;
    overflow: hidden;
}

.chat-room-name-form .profile input {
    height: 50px;
    min-width: 50px;
    opacity: 0;
    cursor: pointer;
}

.chat-room-name-input {
    background-color: var(--app-gray);
    margin-left: 10px;
}

.chat-name, .chat-room-name-input{
    width: 100%;
    height: 45px;
}

.chat-name, .create-chat {
    background-color: var(--app-no-color);
    color: var(--app-white);
}

.create-chat {
    color: var(--app-light-gray);
}

.new-chat-list {
    height: 300px;
    overflow-y: auto;
}

/*Messenger box*/
.display-chat {
    width: 100%;
}

.messages-list .profile {
    min-width: 40px;
}

.reciever-text, .sender-text {
    max-width: 80%;
    align-items: start;
}

.sender-text {
    justify-content: end;
    justify-self: end;
} 
