@import url(./data/reset.css);
@import url(./data/layout.css);
@import url(./data/utility.css);

.main-page-content {
    height: calc(100vh - 71px);
    background-color: var(--app-black);
    display: grid;
    grid-template-columns: 1fr 780px 1fr;
}

.left-side-container {
    height: 100%;
    padding: 12px 10px;
    color: var(--app-white);
    border-right: 1px solid var(--app-gray);
}

.right-side-container {
    height: 100%;
    padding: 12px 10px;
    color: var(--app-white);
    border-left: 1px solid var(--app-gray);
}