@import url(./data/reset.css);
@import url(./data/layout.css);
@import url(./data/utility.css);
@import url(./data/comment.css);
@import url(./data/postBox.css);

nav a{
    color: #6d006d;
}

.current-page-nav, .side-nav .current-page-nav {
    color: var(--app-purple);
}

.friend-nav-button a {
    color: var(--app-white);
}

.main-page-content {
    height: calc(100vh - 72px);
    background-color: var(--app-black);
    padding-top: 30px;
}

.scrolling-container {
    margin-inline: 0;
    display: grid;
    justify-items: start;
    width: 719px;
}

/*Friend List*/
.right-side-container {
    height: 100%;
    padding: 12px 10px;
    color: var(--app-white);
    width: 350px;
}

.friend-list-header i{
    font-size: 20px;
}

.user-friend {
    align-items: center;
}

.user-friend p {
    font-size: 14px; 
}


/*Media Queries*/
@media screen and (max-width: 745px) {
    .right-side-container {
        display: none;
    }
}