@import url(./data/reset.css);
@import url(./data/utility.css);

main {
    background-color: var(--app-dark-black);
    height: 100vh;
    padding: 10px;
    display: flex;
}

.login-photo {
    height: 100%;
    overflow: hidden;
    width: 40%;
    border-radius: 10px;
    background-image: url(../img/login-img.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 5px;
    width: 40%;
}

.login-photo h1 {
    color: var(--app-white);
    font-size: 50px;
    font-weight: 300;
}

.highlight {
    font-family: "Poetsen One", sans-serif;
}

/*Login form*/
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

form {
    color: var(--app-white);
}

.form-heading {
    text-align: center;
}

.form {
    padding: 30px 15px 0 15px;
}

.error-password-login, .error-email-login, .error-password-create, .error-email-create, .error-name-create{
    color: #ff0000;
}

.form input {
    background-color: var(--app-black);
    width: 100%;
    height: 35px;
    color: var(--app-white);
    border-radius: 5px;
    font-size: 16px;
}

.create-form {
    display: none;
}

.loggin-btn, .create-btn {
    background-color: var(--app-purple);
    width: 100%;
    margin: 25px 0 15px 0;
    height: 40px;
    border-radius: 5px;
    color: var(--app-white);
}

.form-choice-description {
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.redirect-login-btn, .redirect-create-btn {
    color: var(--app-purple);
}

