@import url(./data/reset.css);
@import url(./data/layout.css);
@import url(./data/utility.css);
@import url(./data/postBox.css);
@import url(./data/comment.css);

/*Header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--app-black);
    z-index: 3;
}

.header-side-nav {
    position: fixed;
    top: 70px;
    z-index: 3;
}

/*User page*/
.profile-user-detail {
    width: min(100% - 20px, 800px);
    margin-inline: auto;
    padding-top: 100px;
}

.profile-detail {
    width: 300px;
}

.profile-user-detail .profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
}

.profile-picture {
    width: 200px;
    height: 200px;
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.select-photo-box{
    color: var(--app-black);
    background-color: var(--app-white);
}

.user-name {
    font-weight: 300;
}

.edit-profile {
    background-color: var(--app-gray);
    color: var(--app-white);
    height: 48px;
}

.user-counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.user-counter button {
    background-color: var(--app-no-color);
    text-align: start;
    color: var(--app-white);
    font-size: 16px;
}

/*List of post*/
.scrolling-container{
    width: min(100% - 20px, 1000px);
    margin-inline: auto;
}

.post-header {
    position: relative;
    width: 100%;
}

.delete-post {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .profile-user-detail .profile {
        width: 150px;
        height: 150px;
    }

    .profile-picture {
        min-width: 150px;
        height: 150px;
    }

    .user-name {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .user-name {
        font-size: 24px;
    }
    
    .profile-user-detail .profile {
        min-width: 150px;
    }

    .profile-detail {
        padding-left: 10px;
    }
}